<h1>Help Queue</h1>

<div id="app">

  <form class="row" v-on:submit.prevent="login">
    <input required type="password" v-model="nonce" placeholder="Code">
    <button type="submit" class="btn waves-effect" >Log in</button>
  </form>
  <div v-if="error">
    {{ error_message }}
  </div>

</div> <!-- app -->
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="js/login.js"></script>
