<h1>How to get your Zoom Meeting Id</h1>
<p>Go to <a target="_blank" href="https://byu.zoom.us/profile">byu.zoom.us/profile</a> and log in with your BYU credentials</p>
<p>Under the section <code>Personal Meeting Id</code>, copy the URL (i.e. <a target="_blank" href="https://byu.zoom.us/j/8833699865">https://byu.zoom.us/j/8833699865</a>)</p>
<img class="materialboxed" width="100%" src="images/zoom_tutorial.png">
<p>Navigate back to the <a href="/">Help Queue</a> and paste it into the second box</p>
