<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      &copy; 2020 Micheal Erickson <!-- - it210_4b - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> -->
    </div>
  </div>
</footer>
