<h1>Help Queue
  <% if (admin) { %>
  | Admin
  <% } %>
</h1>

<div id="app">

  <div v-if="set">
    <div class="row">
      <ul class="left collection with-header col s6">
        <li class="collection-header">
          <h4>Passoff List</h4>
        </li>

        <li v-for="passoffUser in passoffUsers" class="collection-item">
          {{ passoffUser.name }}
          <% if (admin) { %>
          <a class="secondary-content" href="#" v-on:click="adminRemovePassoff(passoffUser.name)">
            remove
          </a>

          <% } else { %>

          <a v-if="passoffUser.name === user.name" class="secondary-content" href="#" v-on:click="removePassoff()">
            remove
          </a>

          <% } %>

        </li>

        <% if (!admin) { %>
        <li v-if="!onList" class="collection-item">
          <a href="#" v-on:click="joinPassoff()">Join Passoff List</a>
        </li>
        <% } %>

      </ul>
      <ul class="right collection with-header col s6">
        <li class="collection-header">
          <h4>Help List</h4>
        </li>

        <li v-for="helpUser in helpUsers" class="collection-item">
          {{ helpUser.name }}

          <% if (admin) { %>

          <a class="secondary-content" href="#" v-on:click="adminRemoveHelp(helpUser.name)">
            remove
          </a>

          <% } else { %>

          <a v-if="helpUser.name === user.name" class="secondary-content" href="#" v-on:click="removeHelp()">
            remove
          </a>

          <% } %>

        </li>

        <% if (!admin) { %>
        <li v-if="!onList" class="collection-item">
          <a href="#" v-on:click="joinHelp()">Join Help List</a>
        </li>
        <% } %>

      </ul>
    </div>
  </div>

  <div v-else>
    <form class="row" v-on:submit.prevent="setup">
      <input required v-model="user.name" placeholder="Full Name">
      <input required v-model="user.zoom" placeholder="Zoom Personal Meeting Id (i.e. https://byu.zoom.us/j/8833699865)">
      <button type="submit" class="btn waves-effect">Link</button>
    </form>
    <a href="tutorial">How do I get my Zoom Meeting Id?</a>
    <div v-if="error_message">
      {{ error_message }}
    </div>
  </div>

  <div id="modal" class="modal">
    <div class="modal-content">
      <h4>Currently being helped!</h4>
      <p>You are currently being helped by <strong> {{ ta.name }} </strong> </p>
      <p>You can join their Zoom meeting at <a target="_blank" :href="ta.zoom"> <strong> {{ ta.zoom }} </strong> </a> </p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect btn-flat">Close</a>
    </div>
  </div>

</div> <!-- app -->
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="js/script.js"></script>

