<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Help Queue | Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="css/primary_<%= p %>.css">
  <link rel="stylesheet" href="css/secondary_<%= s %>.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <ul class="right">
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h1>How to get your Zoom Meeting Id</h1>
    <p>Go to <a href="https://byu.zoom.us/profile">byu.zoom.us/profile</a> and log in with your BYU credentials</p>
    <p>Under the section <code>Personal Meeting Id</code>, copy the URL (i.e. <a href="https://byu.zoom.us/j/8833699865">https://byu.zoom.us/j/8833699865</a>)</p>
    <img class="materialboxed" width="100%" src="images/zoom_tutorial.png">
    <p>Navigate back to the <a href="/">Help Queue</a> and paste it into the second box</p>

  </div>
  <script src="https://cdn.jsdelivrnet/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script src="js/login.js"></script>
</body>
</html>
